{% extends 'base.html.twig' %}

{% block title %}Hello IndexControlController!{% endblock %}

 {% block stylesheets %}
 <link rel="stylesheet" href="/style/style.css">
 

 {% endblock %}


{% block body %}
{{ include('header_customer/index.html.twig') }}
<main class="mainG">
<div class="example-wrapper">
   
    <!-- commander uber (version telephone) -->
    <div class="commander">
        <p class="textcommander">Commander avec Uber Eats</p>
    </div>
    <!-- titre 2 -->
    <div>
        <h2>notre Restaurant</h2>
    </div>

    <!-- conteneur 1 -->
    <div class="slider">
        <!-- car1 -->
        <div class="slides">
            <!-- img1 -->
            <div class="box-horaire">
                <p class="hscipt">
                    <spans id="heure"></span>
                </p>
            </div>
        </div>
    </div>
    <!-- -400px -->
    <div class="box-horaire tel">
        <p class="hscipt">
            <spans id="heure1"></span>
        </p>
    </div>
    <!-- btn telephone-->
    <a class="lien1 btnphone" href="{{path('app_histoire')}}">
        <div class="btn1 btnphone">
            <div class="btn">
                <p class="text_btn">En savoir plus</p>
                <div id="triangle-code">&nbsp;</div>
            </div>
        </div>
    </a>
    <!-- conteneur2 -->
    <div class="description1">
        <p class="textdesc1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius debitis ipsum enim excepturi
            aliquid, consequatur
            sint beatae, officiis rem laboriosam blanditiis numquam explicabo libero quas ad vel officia, eum deleniti?
        </p>
    </div>
    <!-- conteneur 3 -->
    <div class="bigbox">
        <div class="partL">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d727.3254351033876!2d2.9787390179781608!3d43.18217917721107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1637761494536!5m2!1sfr!2sfr"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="partR">
            <div class="description2">
                <p class="textdesc2"> ipsum dolor sit amet consectetur adipisicing elit. Placeat molestias quisquam
                    ducimus
                    consectetur accusamuss cupiditate voluptas voluptates necessitatibus excepturi aspernatur eius, unde
                    minima laudantium assumenda esse numquam nemo impedit optio?</p>
            </div>
            <div class="box-LR">
                <div class="box-adresse">
                    <p class="adresse">adresse 42 rue du lorem</p>
                    <p class="adresse">34000</p>
                    <p class="adresse">Horaire: 12H00 a 14H00</p>
                    <p class="adresse">18H00 a 00H00</p>
                    <p class="adresse">Touts les jours ouvert sauf mardi</p>
                    <a class="adresse" href="tel:+33412345678">04.12.34.56.78</a>
                </div>
                <div class="btn1">
                    <div class="btn">
                        <a class="lien1" href="{{path('app_histoire')}}">
                            <p class="text_btn">En savoir plus</p>
                            <div id="triangle-code">&nbsp;</div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
<script src="/script/script.js"></script>
{% endblock %}