
header{
   
    backdrop-filter: blur(4px);
 }
 .l{
    width: 70px;
    height: 10px;
    background: #000000 ;
    position: relative;
    transform-origin: center;
    transition: all 0.5s;
  }
  .l1{
    top:40px;
    left: 135px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 80px; height:  12px;
  }
  .l2{top:45px; left: 137px; width: 75px; height:  8px;}
  .l3{top:50px; left: 140px;}
  .l4{ top: 58px; left: 135px;width: 80px; height:  12px; border-bottom-left-radius:5px; border-bottom-right-radius: 5px ;}


 #containerHautH{
    display: grid;
    grid-template-columns: 30% 70%;
    height: 160px;
    
  }
  a{
    display: flex;
    text-decoration: none;
  }
  
 #titreH{
    font-size: 4rem;
    font-family: "Praise", cursive;
    color: #000000 ;
    text-shadow: 5px 5px 0px rgb(214, 214, 214);
 }

#containerBasH{
    height: 50px;
 }
 #containerTitreH{
    display: flex;
    justify-content: flex-start;
 }
 #ulH{
    display: flex;
    justify-content: space-around;
 }
 .Nav_Page_i{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.8rem;
    justify-content: center;
    text-align: center;
 }
 li{
   list-style: none;
   color: white;
 }
 /* disparition*/
body a .btnphone{
    display: none;
  }
  .tel{
      display: none;
  }

 /* aparition nav*/

.openNav{
    position: absolute;
    top: 160px;
    display: flex;
     flex-direction: column;
    justify-content: center;
    height: 90vh;
    width: 100vw;
    background-color: rgb(14, 13, 13);
    animation: 1s normal animBulle;
    padding: 0;
    margin: auto;
    
    
  }
  .logoHe2{
    display: none;
 }


  @media screen and (max-width: 1000px){
    .logoHe{
        display: none;
    }
    .logoHe2{
        display: block;
    }
    .navAnim ul{
        padding: 0px;
        align-items: center;
    } 
    .navOrdi{
        display: none;
      }
      .Nav_Page_i{
        color: rgb(255, 255, 255);
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
      }
  }
@media screen and (min-width: 1000px){
    .navMobible{
        display: none;
    }
    
}
@media screen and (max-width:800px){
    .l1{
      top:40px;
      left: 20px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      width: 80px; height:  12px;
    }
    .l2{top:45px; left: 23px;}
    .l3{top:50px; left: 24px;}
    .l4{ top: 58px; left: 20px;;}

    .open .l1{top: 60px; transform: rotate(45deg)}
    .open .l2{opacity: 0}
    .open .l3{opacity: 0}
    .open .l4{top: 35px; transform: rotate(-45deg)}
    
    
    .bigbox{
     flex-direction: column;
   }
   .burger{
     flex-direction: column;
     text-align: center;
     justify-content: center;
   }
   #containerTitreH{
    align-items: center;
  }
  #titreH{
    font-size: 3rem;
  }
    /* pour que le deuxiem logo disparaise*/
    .logoHe2{
      display: block;
    }
    /* pour que premier logo cliquable apparaise */
    .logoHe{
      display: none;
    } 
    .test{
      transform-origin: rotate(180deg);
    }
    /* reduire flou */
    header nav ul li{
      backdrop-filter: blur(2px);
    }
    /* pour que la nav disparaise et réaparaise cliquable*/
 
    header .coucou{
      display: flex;
    }
    /* animer la largeur de l'ouverture du menu */
  
    /* pour que le 4eme element de la nav part*/
    .comUber{
      display: none;
    }
    div .najs{
        display: flex;
      }
      .story {
        flex-direction: column;
      }


    
}
@media screen and (max-width: 550px) {

    .l{
        width: 50px;
        height: 7px;
        background: #000000 ;
        position: relative;
        transform-origin: center;
        transition: all 0.5s;
      }
      .l1{
        width: 60px;
        height:  8px;
        top:50px;
        left: 20px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
      .l2{top:55px; left: 20px; width: 60px; height: 5px;}
      .l3{top:60px; left: 25px;}
      .l4{ top: 66px; left: 20px; width: 60px; height: 8px;}

      .open .l1{top: 60px; transform: rotate(45deg)}
      .open .l2{opacity: 0}
      .open .l3{opacity: 0}
      .open .l4{top: 40px; transform: rotate(-45deg)}
      
    
}
  /* animation */
  @keyframes animBulle{
  0%{
   width: 100%;
   height: 0px;
   position: absolute;
   top: 160px;
  }
  100%{
   height: 90vh;
  
  }
  }
  .navjs{
    display: block;
  }