body{
   margin: 0;
   color: black;
}
h1,h2,h3{
  text-align: center;
}
 .textcommander{
   text-align: center;
 }
 body .btnphone{
   display: flex;
   justify-content: center;
   margin: auto;
 }
 .text_btn{
   font-size: 0.8rem;
 }
 div h2{
   text-align: center;
   font-family: 'Praise', cursive;  
   font-size: 3rem;
   color: #000000;
 
 }
 /* triangle */
 #triangle-code{
   display : inline-block;
   height : 0;
   width : 0;
   border-top : 15px solid #000000;
   border-right : 7px solid transparent;
   border-left : 8px solid transparent;
  }

 .slider{
   width: 400px;
   height: 400px;
   margin: 100px auto;
   display: flex;
 }
 .slides{
   animation: defilement 11s infinite;
   height: 400px;
   width: 800px;
   margin: auto;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   border-bottom-right-radius: 20px;
 }
 @keyframes defilement {
   0%{
      background: center/cover url(/image/b1.jpg);
   }
   25%{
     background: center/cover url(/image/b2.png);
   }
   50%{
     background: center/cover url(/image/b3.png);
   }
   75%{
     background: center/cover url(/image/b4.png);
   } 
   100%{
       background: center/cover url(/image/b1.jpg)
   }
 }
 div .najs{
  display: flex;
}
 .box-horaire{
   background: center/cover url(/image/rose.png);
   width: 50%;
   height: 10vh;
   text-align: center;
   color: white;
   font-size: 1.2rem;
   border-radius: 10px;
 }

 .description1{
   margin: 40px 40px;
   display: flex;
 }
 .textdesc1{
   font-size: 1.4rem;
   margin: 20px 20px;
   text-align: center;
 }
 .bigbox{
   display: flex;
 }
 .partL{
   flex: 1;
 }
 .partR{
   flex: 2;
   margin: 30px;
 }
 .adresse{
   font-size: 1.3rem;
   text-decoration: none;
   color: white;
   margin: 10px;
   justify-content: center;
 }
 iframe{
   width: 100%;
   border-radius: 50px;
 }
 .description2 p{
   margin: 40px 40px;
   display: flex;
 }
 .textdesc2{
   color: rgb(0, 0, 0);
   font-size: 1.5rem;
   margin: 20px;
 }
 .box-LR{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
 }
 .box-adresse{
   margin: 40px 40px;
   backdrop-filter: blur(4px);
   display: flex;
   flex-direction: column;
   text-align: center;
 }
 .adresse{
   color: black;
 }
 a{
   display: flex;
   text-decoration: none;
 }
 p{
   font-family: 'Cinzel', serif;
 }
 .btn1{
   backdrop-filter: blur(3px);
   border-radius: 10px;
   margin: 5px;
   border: 1px solid rgb(255, 255, 255);
   padding: 20px;
 }
 .btn1 button a {
  font-size: 1.5rem;
 }
 .text_btn{
   color: rgb(255, 0, 0);
   margin: 0px;
 }
 .lien1{
   align-items: center;
 }
 .lien1 p{
  font-size: 1.3rem;
}
.textcommander{
  text-align: center;
  color: white;
}
  .en_tete {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .logobox {
    flex: 1;
    text-align: center;
  }
    
  .titre {
    flex: 3;
    text-align: center;
    height: 100px;
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid #212226;
    border-radius: 20px 0px 0px 20px;
  }
  .leftBox {
    width: 600px;
    background: rgba(255, 255, 255, 0.7);
    border: 3px solid var(--noir1);
    border-radius: 10px;
  }
  form label {
    font-family: "Cinzel", serif;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    padding: 10px;
  }
  form input,
  select,
  textarea {
    font-family: "Arial", serif;
    font-size: 1.3rem;
    color: black;
    background: white;
    border-radius: 10px;
    padding: 10px;
  }
  .rightBox {
    display: flex;
    flex-direction: column;
    width: 600px;
  }
  .EnAttente {
    background: rgba(255, 255, 255, 0.7);
    border: 3px solid var(--noir1);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
  }
  #Produit_dispo {
    margin-bottom: 10px;
  }
  #BtnResa {
    flex: 1;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
    background: var(--noir1);
    color: var(--vert2_pale);
    border-radius: 20px;
  }
  .story{
    background-color: white;
    display: flex;
    margin: 100px;
    align-items: center;
  }
   
    hr {
      margin: 0 auto;
      width: 60%;
      margin-top: 10px;
      margin-bottom: 20px;
      height: 3px;
      background: var(--noir1);
    }
    
  
    ul li{
      color: black;
    }
    .burger {
      display: flex;
      border: 2px solid var(--noir1);
      margin-top: 20px;
      background:rgb(0, 0, 0);
      border-radius: 25px;
      color: white;
    }
   .prix {
    text-align: right;
    padding-right: 20px;
  }
  .txtcarte a {
    text-decoration: none;
    color: wheat;
    margin: 5px;
  }
    .imgcarte {
      min-width: 150px;
      max-width: 250px;
      display: flex;
      flex: 1;
      margin: 10px;
    }
    
    .txtcarte {
      display: flex;
      flex-direction: column;
      flex: 3;
      align-self: center;
    }
    .containerLeftAdmin{
      width: 40%;
      border: 1px solid black;
      color: white;
    }
    .mainAdmin{
      display: flex;
      margin: 100px;
    }
    .mainAdmin .boxcarte{
      height: 600px;
      overflow: auto;
    }
    /* _____________________________________ ALL FORM_______________________________ */
    
    form input,
    select,
    textarea {
      font-family: "Arial", serif;
      font-size: 1.3rem;
      color: black;
      background: white;
      border-radius: 10px;
      /* text-align: right; */
      padding: 10px;
    }
    
    /* _________________________________FORM LOGIN ADMIN____________________________ */
    
    .logadmin {
      margin: auto;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
    }
    
    .logimg {
      display: flex;
      margin: auto;
      background: url(/image/photoR.jpg) center/cover no-repeat;
      border: 3px solid var(--noir1);
      border-radius: 10px;
    }
    
    #formLogin {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 20px;
      margin: 60px;
      background: rgba(182, 182, 182, 0.521);
      backdrop-filter: blur(10px);
      border-radius: 30px;
    }
    
    #formLogin label {
      font-family: "Cinzel", serif;
      font-size: 1.6rem;
      color: black;
    }
    
    #formLogin input {
      height: 40px;
    }
    #btn_auth {
      font-family: "Praise", cursive;
      font-size: 1.2rem;
    }
    
    /* _________________________________FORM RESERVATION____________________________ */
    
  

    /* fin */
    
    .story {
        display: flex;
        border: 2px solid var(--noir1);
        margin: 10px 10px 0px 10px;
        background: rgba(182, 182, 182, 0.521);
        border-radius: 5px;
      }

      .right {
        flex-direction: row-reverse;
      }
    img {
      width: 100%;
      min-width: 150px;
      max-width: 350px;
      margin: auto;
      align-self: center;
      border-radius: 5px;
    }
    .imgstory {
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        width: 100%;
    
      }
      #carte > div > label{
        text-align: center;
      }
      #carte div{
        display: flex;
        flex-direction: column;
        text-align: center;
      }
.lienForm{
  text-align: center;
  font-weight: normal;
  margin: 30px;
}
#reservation > div > label{
color: rgb(0, 0, 0);
margin: 10px;
}
.container{
  display: flex;
  justify-content: center;
}
.container > form{
  background-color: rgb(214, 214, 214);
}
.container > form > #reservation > div{
  display: flex;
  align-items: center;
  flex-direction: column;
}
div.container > form > button{
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  border-style: none;
  font-size: 1.2rem;
  cursor: pointer;
}
#reservation_date_time{
  display: flex;
  justify-content: center;
}
  #reservation_date_date select{
    margin: 5px;
  }

.btn{
  margin: auto;
}
.container > form{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  padding: 30px;
}
.loginAdn{
  height: 90vh;
  width: 100%;
  background:center/cover url(/image/adminCo.jpg) no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginAdn  > form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginAdn  > form > input{
  background-color: rgba(139, 34, 34, 0.014);
  backdrop-filter: blur(10px);
  border-style: none;
  border: 1px solid wheat;
}
.loginAdn  > form > label{
  color: wheat; 
}
.loginAdn  > form > button{
  margin: 40px;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: wheat;
  border-radius: 5px;
}
.mb-3{
  color: wheat;
}
.resaAdmin{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.resaAdmin h1{
  text-align: center;
}
.resaAdmin tbody td{
  text-align: center;
}
.resaAdmin tbody tr:nth-child(2n){
  background-color: red;
}
td a{
  text-decoration: none;
  color: black;
}
.creatCarte{
  justify-content: center;
  height: 100%;
  align-items: center;
  color: black;
}
.boxcarte {
  margin: 0% 10%;

}
#carte{
  padding: 10px;
}
body > main > div.containerLeftAdmin > form > button{
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}
.btnResa{
  width: 30%;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
  background-color: #000000;
  color: white;
  margin: 60px auto;
}
@media screen and (min-width: 1000px){
  .navMobible{
      display: none;
  }
}
@media screen and (max-width: 1000px){
  
  .navAnim ul{
      padding: 0px;
      align-items: center;
  }
  .navOrdi{
    display: none;
  }
  .Nav_Page_i{
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
  }
  .mainAdmin{
    flex-direction: column;
  }
  .imgcarte img{
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width:800px){
  .burger{
     flex-direction: column;
     text-align: center;
     justify-content: center;
     align-items: center;
   }
   .story {
     flex-direction: column;
   }
}
@media screen and (max-width: 610px) {
  #Btn_Reserver {
    grid-area: reserv;
    margin: 10px 50px 0px 50px;
  }
}
@media screen and (max-width: 550px) {
  .bigbox{
    flex-direction: column;
  }
  #triangle-code{
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 15px solid #000000;
    border-right : 8px solid transparent;
    border-left : 7px solid transparent;
   }
.commander{
  display: flex;
  justify-content: center;
  background-color: #73493f;
  border-radius: 10px;
  width: 70%;
  margin: 30px auto;
  color: white;
  font-size: 1.2rem;
}
  .box-horaire{
    display: none;
  }
  .tel{
    display: flex;
    margin: 30px auto;
    width: 70%;
  }
  body a .btnphone{
    display: flex;
  }
  .textdesc1{
    display: none;
    color: #000000;
  }
  .description2{
    display: none;
  }
  .btn{
    height: 6vh;
  }
  .btn1{
    display: none;
  }
  body .btnphone{
    margin-top: 20px;
  }
  .hscript{
    font-size:0.4rem;
  }
  .slider{
    width: 200px;
    height: 200px;
    margin: auto;
  }
  .slides{
    animation: defilement 9s infinite;
    height: 200px;
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  h3 {
   font-size: 1.2rem;
 }

 h4 {
   font-size: 0.95rem;
   margin: 0 5px;
 }

 .boxcarte {
   margin: 10px 10px;
 }
 .bigbox{
   flex-direction: column;
   align-items: center;
 }
iframe{
 width: 60vw;
 height: 200px;

}
 .imgcarte {
   margin: 5px;
 }
  @keyframes defilement {
    0%{
      background: center/cover url(/image/b1.jpg);
   }
   25%{
     background: center/cover url(/image/b2.png);
   }
   50%{
     background: center/cover url(/image/b3.png);
   }
   75%{
     background: center/cover url(/image/b4.png);
   } 
   100%{
       background: center/cover url(/image/b1.jpg)
   }
  }
    
}
#inputUsername{
  color: white;
}
#inputPassword{
  color: white;
}
.mb-3 a {
  color: white;
  justify-content: center;
}
/* finn */