{% extends 'base.html.twig' %}

{% block title %}Edit Reservation{% endblock %}
{% block stylesheets %}
 <link rel="stylesheet" href="/style/style.css">
 {% endblock %}

{% block body %}
    <h1>Edit Reservation</h1>

    {{ include('reservation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reservation_index') }}">retour</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
