{% extends 'base.html.twig' %}

{% block title %}Nouvelle Reservation{% endblock %}
{% block stylesheets %}
 <link rel="stylesheet" href="/style/style.css">
 {% endblock %}

{% block body %}
{{ include('header_customer/index.html.twig') }}
<main class="clientReserve mainG">

    <h1 class="lienForm">Réserver une table</h1>
    <div class="container">
    {{ include('reservation/_form.html.twig') }}
 </div>
 </main>
{% endblock %}
