{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}
 {% block stylesheets %}
 <link rel="stylesheet" href="/style/style.css">
 {% endblock %}


{% block body  %}
    <h1>Faire une réservation</h1>

    {{ include('reservation/_form.html.twig') }}

    <a href="{{ path('app_reservation_index') }}">retour</a>
{% endblock %}
