<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="Présentation du site Dead Cow Diner, réstaurant d'hamburger">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
           <link rel="icon" type="image/png" sizes="16x16" href="./images/logo.png">
           <link rel="preconnect" href="https://fonts.googleapis.com">
           <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
           <link href="https://fonts.googleapis.com/css2?family=Praise&display=swap" rel="stylesheet">
           <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
        {% block stylesheets %}
           
        {% endblock %}
  
        {% block body %}
        
    {% endblock %}
    </body>
</html>
