{% extends 'base.html.twig' %}

{% block title %}Hello HeaderCustomerController!{% endblock %}
 {% block stylesheets %}
 <link rel="stylesheet" href="/style/headerClient.css">
 {% endblock %}

{% block body %}
 <header>
        <div id="containerHautH">
            
            <div id="containerLogoH" class="logoHe">
                <div class="l l1"></div>
                <div class="l l2"></div>
                <div class="l l3"></div>
                <div class="l l4"></div>
            </div>
            <div id="containerLogoH2" class="logoHe2 nav-phone">
                <div class="l l1"></div>
                <div class="l l2"></div>
                <div class="l l3"></div>
                <div class="l l4"></div>
            </div>
            <div id="containerTitreH">
                <h1 id="titreH"> Dead Cow Dinner </h1>
            </div>
        </div>
        <div class="containerANim" id="containerBasH">
            <nav class="navOrdi">
                <ul class="ulH ulHmob" id="ulH">
                    <li>
                        <a class="Nav_Page_i" href="/carte/client">Notre Carte</a>
                    </li>
                    <li>
                        <a class="Nav_Page_i" href="/">Notre Restaurant</a>
                    </li>
                    <li>
                        <a class="Nav_Page_i" href="/reservation/new">Réserver une table</a>
                    </li>
                    <li>
                        <a class="Nav_Page_i" id="Uber" href="/">Commander chez Uber Eat</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <script src="/script/header.js"></script>
{% endblock %}
