{% block stylesheets %}
 <link rel="stylesheet" href="/style/carte.css">
 {% endblock %}
<form method="post" action="{{ path('app_carte_delete', {'id': carte.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ carte.id) }}">
    <button class="btn">Supprimer</button>
</form>
