{% block stylesheets %}
 <link rel="stylesheet" href="/style/carte.css">
 {% endblock %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
