{% extends 'base.html.twig' %}

{% block title %}Edit Carte{% endblock %}
{% block stylesheets %}
 <link rel="stylesheet" href="/style/style.css">
 {% endblock %}

{% block body %}
    <h1>Modifier Carte</h1>

    {{ include('carte/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('app_carte_index') }}">Retour</a>

    {{ include('carte/_delete_form.html.twig') }}
{% endblock %}
