{% extends 'base.html.twig' %}

{% block title %}Hello CarteController!{% endblock %}
{% block stylesheets %}
 <link rel="stylesheet" href="/style/style.css">
 {% endblock %}

{% block body %}

{{ include('header_customer/index.html.twig') }}
    
    <main class="mainG">
        <h2 id="titreCarte2">- Notre Carte -</h2>
        <div class="boxcarte">
        {% for carte in cartes %}
            <div class="burger avant">
                <div class="imgcarte">
                    <img src="{{ carte.image }}" alt="{{ carte.plat }}">
                </div>
                <div class="txtcarte">
                    <h3>{{ carte.plat }}</h3>
                    <h4>
                        {{ carte.description }}
                    </h4>
                    <h3 class="prix">{{ carte.prix }}€</h3>
                    <h3 class="dispo">Disponibilité : {{ carte.dispo ? '&#128994' : '&#128992' }}</h3>
                   
                    
                    
                </div>
            </div>
             {% endfor %}
    </main>


{% endblock %}
