{% extends 'base.html.twig' %}

{% block title %}Carte index{% endblock %}

{% block body %}
    <main class="mainAdmin mainG">
        <h2 id="titreCarte2">- Notre Carte -</h2>
        <div class="boxcarte">
        {% for carte in cartes %}
            <div class="burger avant">
                <div class="imgcarte">
                    <img src="{{ carte.image }}" alt="{{ carte.plat }}">
                </div>
                <div class="txtcarte">
                    <h3>{{ carte.plat }}</h3>
                    <h4>
                        {{ carte.description }}
                    </h4>
                    <h3 class="prix">{{ carte.prix }}€</h3>
                    <a href="{{ path('app_carte_show', {'id': carte.id}) }}">Regarder</a>
                    <a href="{{ path('app_carte_edit', {'id': carte.id}) }}">Modifier</a>
                    
                </div>
            </div>
             {% endfor %}
             </div>
             <div class="containerLeftAdmin">
               <a href="{{ path('app_carte_new') }}">Nouveau</a>
    </main>
