{% extends 'base.html.twig' %}

{% block title %}Carte index{% endblock %}
{% block stylesheets %}
 <link rel="stylesheet" href="/style/style.css">
 {% endblock %}
 

{% block body %}
{{ include('header_admin/index.html.twig') }}
    

 <h2 id="titreCarte2"> adm66inistrateur</h2>
    <main class="mainAdmin">
        <div class="boxcarte">
        {% for carte in cartes %}
            <div class="burger avant">
                <div class="imgcarte">
                    <img src="{{ carte.image }}" alt="{{ carte.plat }}">
                </div>
                <div class="txtcarte">
                    <h3>{{ carte.plat }}</h3>
                    <h4>
                        {{ carte.description }}
                    </h4>
                    <h3 class="prix">{{ carte.prix }}€</h3>
                    <a href="{{ path('app_carte_show', {'id': carte.id}) }}">Regarder</a>
                    <a href="{{ path('app_carte_edit', {'id': carte.id}) }}">modifier</a>
                    
                </div>
            </div>
             {% endfor %}
             </div>
             <div class="containerLeftAdmin">
                {% if new is defined %}
                    {% include 'carte/_form.html.twig' %}
                {% else %}
                    <a class="creatCarte"href="{{ path('app_carte_new') }}">Crée une carte</a>
                {% endif %}
               </div>
    </main>
   <a class="btnResa" href="/reservation/admin">Mes réservation</a>
<script src="/script/header.js"></script>

{% endblock %}
