{% extends 'base.html.twig' %}

{% block title %}New Carte{% endblock %}
{% block stylesheets %}
 <link rel="stylesheet" href="/style/style.css">
 {% endblock %}
{% block body %}
    <h1>Create new Carte</h1>

    {{ include('carte/_form.html.twig') }}

    <a href="{{ path('app_carte_index') }}">Retour</a>
{% endblock %}
