{% extends 'base.html.twig' %}

{% block title %}Carte{% endblock %}
{% block stylesheets %}
 <link rel="stylesheet" href="/style/style.css">
 {% endblock %}
{% block body %}
    <h1>Carte</h1>
        <div class="boxcarte">
            <div class="burger avant">
                <div class="imgcarte">
                    <img src="{{ carte.image }}" alt="{{ carte.plat }}">
                </div>
                <div class="txtcarte">
                    <h3>{{ carte.plat }}</h3>
                    <h4>
                        {{ carte.description }}
                    </h4>
                    <h3 class="prix">{{ carte.prix }}€</h3>
                    <h3 class="dispo">Disponibilité : {{ carte.dispo ? '&#128994' : '&#128992' }}</h3>
                </div>
            </div>
    </main>
{% endblock %}
